<div class="container manager-container">

  {{#if errors}} {{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/each}} {{/if}}

  <row class="row">

    <div class="col-md-8">

      <br />
      <h2 class="page-header">Customer active hires</h2>

      <br />
      <p>
        <strong>Customer id: {{customers.id}} &nbsp&nbsp | &nbsp&nbsp Name: {{customers.user_firstname}} {{customers.user_lastname}}</strong>

      </p>

      <hr>

      <table>
        {{#each products}}

        <tr>
          <td>Product id: </td>
          <td>{{Product.id}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Product name: </td>
          <td>{{Product.product_name}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Retail price: </td>
          <td>{{Product.retail_price}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Category: </td>
          <td>{{Product.category_id}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Hired out </td>
          <td>{{Product.createdAt}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Due back </td>
          <td>{{Product.createdAt}}</td>
          <td>
            <button type="submit" class="btn btn-default register-submit-btn" style="margin: 0">Log returned</button>
          </td>
        </tr>

        <tr>
          <td>
            <hr>
          </td>
          <td>
            <hr>
          </td>
          <td>
            <hr>
          </td>
        </tr>

        {{/each}}
      </table>

      <div id="back-buttons">

        <form method="post" action="/manager/searchuser" style="display: inline-block"></form>
          <button type="submit" class="btn btn-default register-submit-btn" id="back" name="id" value="{{customers.id}}">back</button>
        </form>

        <button type="button" class="btn btn-default register-submit-btn" id="back-manager-menu">Manager menu</button>

      </div>

    </div>


    <div class="col-md-4">

    </div>

  </row>

</div>

<script>

  $(function () {

    $("#back-manager-menu").on("click", function (event) {
      window.location = "/manager";

    })
  });

</script>