<br>
<h2 class="order-success-header">Thank you for your order!</h2>
<br>
<h4 class="order-success-subheader">Your order for one {{ product_name }} is being processed.</h4>
<h4 class="order-success-subheader">Your order Confimation # is: {{ orderNumber }}
<br>
<br>
<h4 class="order-success-subheader">We will notify you by the email registered to your account with a tracking number when your package is ready.</h4>
<h4 class="order-success-subheader">Your package will be shipped to:<h4>
<br>
<div class="shipping-address">
	<p>{{ fullName }}</p>
	<p>{{ addressStreet }}</p>
	<p>{{ addressCity}}, {{ addressState }} {{addressZip }}
</div>